*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: rgb(187, 209, 226);
}
#container{
    margin: 0px auto;
    overflow: hidden;
}
header{
    background: rgba(24, 22, 97, 0.897);
    width: 100%; 
    margin:0px;
    text-align: center;
    line-height: 50px;
    color: rgb(255, 255, 255);
    font-family: arial;
}
nav{
    margin: 0px auto;
    width: 100%;
    font-family: arial;
}
nav ul{
    list-style: none; 
}
nav > ul{ 
     /*solo se aplica para los que estan despues de la etiqueta nav*/
width: 100%;
background: rgba(69, 70, 73, 0.377);
position:relative; 
}
nav > ul li{
    display: table-cell ; /*para que los elementos li tenga una posición de celda*/
}
nav > ul li a{
    color: rgb(255, 255, 255);
    display: block;
    line-height: 10px;
    padding: 20px 70px;
    position: relative;
    text-decoration: none;
}
nav> ul li a:hover{
    background: rgba(112, 99, 99, 0.856);
}
.img1{
    width:50px;
    float:right;
    padding-right: 10px;
}
.slider{
    width: 100%;
    margin: auto;
    float: center;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0px;
    width: 400%;
    animation: cambio 15s infinite;
    animation-direction: alternate;
}
.slider li{
    width: 100%;
    list-style: none;
    padding-bottom: 15px;
}
.slider img{
    width: 100%;
}
@keyframes cambio{   /*paradas*/
0%{margin-left: 0;}
20%{margin-left: 0;}

25%{margin-left: -100%;}
45%{margin-left: -100%;}

50%{margin-left: -200%;}
70%{margin-left: -200%;}

75%{margin-left: -300%;}
100%{margin-left: -300%;}
}
h2{
    color: rgb(255, 255, 255);
    float: right;
    display: block;
    line-height: 10px;
    padding: 20px 30px;
}
h3{
    color: black;
    font-family: arial;
    background-color: cornflowerblue;
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
}
#slider2{
    width: 1500px;
    height: 120px;
    background-image: url(diapositiva1.PNG);
    background-size: 100% 100%;
    animation: slider 10s infinite linear;

}
footer{
    background: rgba(24, 22, 97, 0.897);
    color: white;
    font-family: arial;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
@keyframes slider{
    to{
        background-position: 2000px;
    }
}
.container{
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  
.item{
    background-color: rgb(174, 196, 221);
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
    transition: all 300ms;
    position: relative;
  }
  
  .item::after {
    content: "";
    background-color: rgba(179, 229, 252, .1);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
  }
  .item:hover:after{
    opacity: 1;
    transform: scale(1);
  }
  .item:hover {
    transform: scale(1.05);
  }
  .item-text{
    padding: 1em;
  }
  
  .item-img{
    max-width: 100%;
    display: block;
  }
  
  @media screen and (min-width: 590px) {
    
    .container{
      grid-template-columns: repeat(2, 1fr);
    }
    
  }
  
  @media screen and (min-width: 960px) {
    
    .container{
      grid-template-columns: repeat(3, 1fr);
    }
    
  }
  p{
    text-align: center;
    font-family:arial;
    font-size:medium;
    animation-duration: 3s;
    animation-name: slidein;
  }
  aside{
    float: right;
    width: 20%;
    background: rgba(118, 155, 209, 0.514);
    margin-top: 10px;
    margin-block-end: 10px;
    margin-top: 45px;

}
aside>h4{
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family:arial;
    font-size: 20px;
}
aside>p{
    color: rgb(0, 0, 0);
    padding: 8px;
    font-family: arial; 
}

 aside> li{
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: arial;
 }